body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Lora', serif;
  font-size: 16px;
}
.star {
  display: inline-block;
  cursor: pointer;
  color: gray;
}
.star.filled {
  color: rgb(255, 215, 0);
}
.star:hover{
  color: gold;
}
.display-words__input-search{
  font-family: poppins;
}

.word-details {
  padding: 20px;
  color: var(--darkGray-color);
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.display-words__title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:black;
}
.display-words__name{
  margin-right: 5rem;
}
.display-words__input-search{
  font-weight: 450;
}

.display-words {
  margin-bottom: 1rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.display-words.dark{
  background-color: black;
  color:white;
}

.meaning {
  display: flex;
  flex-direction: column;
}

.part-of-speech {
  font-weight: bold;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Lora', serif;
  color: rgb(1, 60, 153);
}

.example {
  width: fit-content;
  background-color: aliceblue;
  color: var(--blue--color);
  font-family: 'Lora', serif;
}

.synonyms {
  color: var(--green--color);
}

.phonetics {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player {
  margin-bottom: 5px;
}

.phonetic-text {
  font-style: italic;
  text-align: center;
}
.definitions-btn{
  border:none;
  border-bottom: 1px solid gray ;
  width: 100px;
  background-color: white;
  font-size: 12px;
  padding: .5rem;
}
.definitions-btn:hover{
  cursor: pointer;
}
li{
  font-family: 'Lora', serif;
  letter-spacing: 0.5px;
}
strong{
  font-weight: bold;
  color:rgb(82, 83, 83);
  font-family: 'Lora', serif;
}
