.app{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--paleWhite-color);
  width: 100vw;
  min-height: 100vh;
}
.app.dark{
  background-color: rgb(74, 74, 74);
}
body{
  min-height: 100vh;
}